# Core framework and server
fastapi==0.103.1
uvicorn[standard]==0.23.2

# Database and ORM
sqlalchemy==1.4.49
alembic==1.12.1

# Data handling
pydantic-settings==2.1.0
pydantic>=2.0
python-multipart==0.0.9
passlib[bcrypt]==1.7.4
redis==4.6.0
openpyxl==3.1.2
pandas==2.2.2
lxml==4.9.3
beautifulsoup4==4.12.2
cssselect==1.2.0
httpx==0.25.1
requests==2.31.0
anyio==3.7.1
h11==0.14.0
tzdata==2023.3
python-jose[cryptography]==3.3.0

# Async / worker
celery==5.3.4

# File handling / utility
aiofiles==23.2.1
watchdog==3.0.0
aiohttp